<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <form action="/ho"method="post">
            <li class="breadcrumb-item"><button type="submit">Home</button></li>
            </form>
             <form action="/bo"method="post">
            <li class="breadcrumb-item"><button type="submit">BOOKLIST</button></li>
             </form>
              <form action="/cont"method="post">
            <li class="breadcrumb-item"><button type="submit">Contacts</button></li>
             </form>
              <form action="/not"method="post">
            <li class="breadcrumb-item"><button type="submit">Notifications</button></li>
             </form>
             <form action="/logout" method="post">
            <li class="breadcrumb-item active" aria-current="page"><button type="submit">LOGOUT</button></li>
             </form>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
              {{#each x}}
            <h5 class="my-3">{{field1}}&nbsp;{{field2}}</h5>
            <p class="text-muted mb-1">{{userRoles}}</p>
            <p class="text-muted mb-4">{{field3}}</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{field1}}&nbsp;{{field2}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{field6}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{field5}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Admission Number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{field7}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">BRANCH</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{field4}}</p>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        <div class="row">
                  <div class="col-sm-2">
                    <h5 class="text-muted">BOOK NAME</h5>
                  </div>
                    <div class="col-sm-2">
                    <h5  class="text-muted">AUTHOR NAME</h5>
                  </div>
                    <div class="col-sm-2">
                    <h5  class="text-muted">BOOKED ON</h5>
                  </div>
                    <div class="col-sm-2">
                    <h5  class="text-muted">TO BE RETURNED</h5>
                  </div>
                   <div class="col-sm-2">
                    <h5  class="text-muted"> RETURNED ON</h5>
                  </div>
                </div>
      {{#each y}}
       <div class="row">
                  <div class="col-sm-2">
                    <h5 class="text-muted">{{field1}}</h5>
                  </div>
                    <div class="col-sm-2">
                    <h5  class="text-muted">{{field2}}</h5>
                  </div>
                    <div class="col-sm-2">
                    <h5  class="text-muted">{{field3}}</h5>
                  </div>
                    <div class="col-sm-2">
                    <h5  class="text-muted">{{field4}}</h5>
                  </div>
                   <div class="col-sm-2">
                    <h5  class="text-muted">{{field5}}</h5>
                  </div>
                </div>
                {{/each}}
              
  </div>
</section>